* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: transparent;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
    /*todo conteudo que ultrapassar a lateral do site será ignorado*/
}

header {
    height: 100px;
    background-color: #000;
    color: #fff;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logoimg {
    background-color: #B28756;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.logoimg img {
    width: 80px;
    height: 80px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.icon-menu {
    display: none;
    text-align: center;
    margin-right: 20px;
    padding: 10px;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
    background-color: #B28756;
    cursor: pointer;
}

.fa-solid.fa-bars {
    display: none;
    color: #B28756;
}

nav {
    display: flex;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000;
    transition: border-bottom 0.3s linear, color 0.3s linear;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #B28756;
    color: #ccc;
}


.menu li a:focus {
    outline: none;
}

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    /*tudo que estiver dentro do banner e passar do tamanho dele, estará invisível com esse código*/
}

.banner .sliders {
    width: 300vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.banner h1,
.banner h1 span {
    font-weight: bold;
    font-size: 50px
}

.banner h1 span {
    color: #B28756;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 20px;
}

.button {
    display: inline-block;
    background-color: #B28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner .pointer:hover,
.banner .pointer.active {
    background-color: #B28756;
}



.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
}

.default .section-title {
    font-size: 25px;
    font-weight: 700;
}

.default .section-desc {
    font-weight: 600;
    font-size: 15px;
    color: #bbb;
    margin-top: 10px;
    margin-bottom: 50px;
}

.default .section-body {
    max-width: 1140px;
    margin: auto;
}

.default.light {
    background-color: #F7F7F7;
}

.default.light .section-title,
.default.light .section-body {
    color: #000;
}

.default.dark {
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body {
    color: #fff;
}

.default.dark .section-desc {
    color: #ccc;
}

.icon-principal {
    position: absolute;
    text-align: center;
    margin-top: -40px;
    right: 100px;
    padding: 15px;
    border-radius: 50%;
    font-size: 35px;
    color: #fff;
    background-color: #B28756;
    cursor: pointer;
}






/*CSS DE AREAS ESPECÍFICAS*/


.aboutus {
    display: flex;
}

.section-aboutus--left {
    flex: 1;
    margin-left: 30px;
}

.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
}

.section-aboutus--left .button {
    margin-top: 10px;
}

.section-aboutus--right {
    width: 520px;
    height: 282px;
    display: flex;
    justify-content: center;
}

.section-aboutus--right-content {
    width: 450px;
    height: inherit;
}

.section-aboutus--right img {
    width: inherit;
    height: inherit;
    box-shadow: 0px 5px 10px black;
}

.section-aboutus--right-photoinfo {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.section-aboutus--right-photoinfo h5 {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}

.section-aboutus--right-photoinfo a {
    text-decoration: none;
    color: #F7F7F7;
    font-size: 35px;
    margin-left: 5px;
    margin-right: 5px;
}

.section-aboutus--right-content:hover .section-aboutus--right-photoinfo {
    display: flex;
}

.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}

.section-service:first-child {
    border-left: 1px solid #333;
}

.section-service img {
    width: 70px;
    height: 70px;
}

.section-service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters {
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}

.section-projects--filters ul {
    display: flex;
    padding-top: 3px;
    padding-bottom: 3px;
}

.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
}

.section-projects--filters li {
    display: inline-block;
    cursor: pointer;
    padding: 15px 5px 15px 5px;
    border-left: 1px solid #ccc;
}


.section-projects--filters li a {
    text-decoration: none;
    color: #555;
    text-transform: uppercase;
    font-size: 13px;
    padding: 15px 20px 15px 20px;
    border-bottom: 3px solid #eee;
    transition: border-bottom 0.3s linear;
}

.section-projects--filters li a:hover,
.section-projects--filters li a.active {
    border-bottom: 3px solid #B28756;
}

.section-projects--filters li:first-child {
    border-left: 0;
    margin-left: 5px;
}

.section-projects--filters li:last-child {
    margin-right: 5px;
}


.section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo {
    width: 280px;
}

.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img {
    width: inherit;
    /*vai herdar o tamanho do item anterior*/
    height: inherit;
    /*vai herdar o tamanho do item anterior*/
}

.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: inherit;
    height: inherit;
    color: #fff;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-projects--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
}

.section-projects--photoinfo p {
    margin-top: 15px;
    line-height: 20px;
}

.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
}



.bg-team {
    background-image: url('./assets/img/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders {
    width: 300vw;
    height: 100%;
}

.section-team .slide {
    width: 280px;
    height: 100%;
    min-height: 400px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
}

.section-team .slidearea {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 30px;
}

.section-team-area .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-team-area .pointer:hover,
.section-team-area .pointer.active {
    background-color: #B28756;
}

.section-team--avatar {
    width: 150px;
    height: auto;
}

.section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}

.section-team--role {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

.section-team--social {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team--social a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 2px;
    color: #fff;
    background-color: #b7b7b7;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: background-color 0.3s linear;
}

.section-team--social a i {
    font-size: 15px;
    text-align: center;
}

.section-team--social a:hover {
    background-color: #B28756;
}


.section-reviews--client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-team--avatar {
    width: 150px;
    height: auto;
}

.section-reviews--title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.section-reviews--desc {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
}

.section-reviews--review {
    margin-top: 30px;
    max-width: 700px;
    text-align: center;
    color: #555;
}

.section-reviews--review p {
    margin-top: 10px;
}


.section-reviews--client .sliders-pointers {
    margin-top: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-reviews--client .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-reviews--client .pointer:hover,
.section-reviews--client .pointer.active {
    background-color: #B28756;
}

.superlight {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid rgba(217, 217, 217, 0.9);
    box-shadow: 0px 1px 2px rgba(217, 217, 217, 0.9);
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.superlight .companies {
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.superlight .companies img {
    flex: 1;
    padding: 30px;
    height: auto;
}

.default.medium {
    border-bottom: 1px solid #d9d9d9;
    background-color: #f1f1f1;
}

.default.medium .section-title,
.default.medium .section-body {
    color: #000;
}



.section-plans {
    overflow: hidden;
    max-width: 1100px;
    margin: auto;
    padding: 10px;
}

.section-plans .sliders {
    display: flex;
}

.section-plans .slide {
    min-width: 252px;
    height: 100%;
    min-height: 350px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
}

.section-plans .slidearea {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 30px;
}

.section-plans .section-plans--title {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.section-plans .section-plans--priceplan .section-plans--price {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 700;
}

.section-plans .section-plans--priceplan p {
    color: #ccc;
    font-size: 12px;
    margin-top: 2px;
    text-align: center;
    text-transform: uppercase;
}

.section-plans .section-plans--desc {
    font-size: 12px;
    line-height: 27px;
    margin-top: 15px;
    text-align: center;
}

.section-plans .section-plans--desc .dash {
    margin: auto;
    width: 10px;
    height: 1px;
    background-color: #000;
}

.section-plans .button-choose {
    display: inline-block;
    background-color: #000000;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 15px;
    border-radius: 20px;
    transition: background-color 0.3s linear;
}

.section-plans .button-choose:hover {
    background-color: #B28756;
}

.section-options--area .section-body {
    margin-top: 30px;
    max-width: 1100px;
    border-bottom: 1px solid #d9d9d9;
}


.section-options--area .section-options {
    display: flex;
}

.section-options--area .section-options--img {
    flex: 1;
    text-align: center;
}

.section-options--area .section-options--desc {
    flex: 1;
}

.section-options--desc {
    padding: 25px;
}

.feature {
    display: flex;
    margin-bottom: 20px;
}

.feature-body {
    margin-left: 25px;
}

.feature-body .feature-body-text--title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.feature-body .feature-body-text--features {
    margin-top: 5px;
    font-size: 12px;
    line-height: 25px;
}

.feature-body .feature-body-text--features .number-features {
    margin-top: 10px;
    text-transform: uppercase;
}

.section-options--area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-options--area .sliders-pointers {
    margin-top: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-options--area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-options--area .pointer:hover,
.section-options--area .pointer.active {
    background-color: #B28756;
}


.section-work-options {
    display: flex;
    justify-content: center;
}

.section-work-option {
    width: 200px;
    text-align: center;
    padding: 10px;
}

.section-work-option .section-work-option--title {
    color: #B28756;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 5px;
}

.section-work-option .section-work-option--dash {
    margin: auto;
    width: 20px;
    height: 2px;
    background-color: #999;
}

.section-work-option .section-work-option--titleandtext {
    height: 200px;
    display: flex;
    flex-direction: column;
}

.section-work-option .section-work-option--title2 {
    flex: 1;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 19px;
    margin-bottom: -50px;
}

.section-work-option .section-work-option--text {
    flex: 1;
    font-size: 13px;
    color: #999;
    line-height: 25px;
}




.superlight2 {
    border-bottom: 1px solid #d9d9d9;
    max-width: 1140px;
    margin: auto;

}

.superlight2 .share-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.superlight2 .share-icons .share-socials-share a {
    margin-right: 40px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
    font-size: 15px;
}

.superlight2 .share-icons .share-socials-share a:hover {
    color: #B28756;
}

.superlight2 .share-icons .share-socials-share a .sharetext {
    margin-left: 10px;
    font-weight: 600;
}

.share-socials-social-principal {
    display: flex;
}

.superlight2 .share-icons .share-socials-social-principal .share-socials-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}


.share-socials-social-principal .share-socials-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.share-socials-social .twitter {
    background-color: #5dbcec;
}

.share-socials-social .linkedin {
    background-color: #3572aa;
}

.share-socials-social .facebook {
    background-color: #39598b;
}

.share-socials-social .google {
    background-color: #39598b;
}

.share-socials-social .pinterest {
    background-color: #9b2a22;
}

.share-socials-social p {
    color: #bbb;
    font-weight: 700;
    margin-left: 5px;
    font-size: 8px;
}

.default.light .formarea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-body form {
    max-width: 600px;
    padding: 20px;
    margin: auto;
}

.section-body form {
    display: flex;
    flex-direction: column;
}

.section-body form input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #999;
    caret-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #777;
}

.section-body form input:focus {
    outline: none;
}

.section-body form input::placeholder {
    color: #aaa;
    text-transform: uppercase;
}

.section-body form .nameemail {
    display: flex;
    margin-bottom: 30px;
}

.section-body form .nameemail input {
    flex: 1;
}

form .nameemail input:first-child {
    margin-right: 30px;
}

.section-body form .subject {
    margin-bottom: 50px;
}

.section-body form .button-send {
    margin: auto;
    display: inline-block;
    background-color: #B28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 50px;
    border-radius: 20px;
}


.section-map {
    background-image: url("./assets/media/mapa.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


.section-map--area {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}

.section-map--info {
    width: 50%;
    padding: 30px;
    background-color: #ffffff;
    color: #000000;
}

.section-map--info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.section-map--info-item i {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a6a6a6;
    color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 15px;
}

footer .default.dark {
    padding-top: 30px;
    padding-bottom: 30px;
}

footer .default.dark .arrow1 .fa-solid.fa-chevron-up {
    position: absolute;
    text-align: center;
    margin-top: -60px;
    left: 120px;
    padding: 15px;
    border-radius: 50%;
    font-size: 35px;
    color: #fff;
    background-color: #B28756;
    cursor: pointer;
}

footer .default.dark .arrow2 .fa-solid.fa-chevron-up {
    display: none;
    position: absolute;
    text-align: center;
    margin-top: -60px;
    right: 50px;
    padding: 15px;
    border-radius: 50%;
    font-size: 35px;
    color: #fff;
    background-color: #B28756;
    cursor: pointer;
}

.footer-area {
    display: flex;
    color: #747474;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-area--social,
.footer-area--text,
.footer-area--subscribe {
    flex: 1;
    padding: 10px;
}

.footer-area--social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
}

.footer-area--social-icons {
    display: flex;
}

.footer-area--social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 3px;
    background-color: #b7b7b7;
    color: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: background-color 0.3s linear;
}

.footer-area--social-icons a i {
    font-size: 12px;
    text-align: center;
}

.footer-area--social-icons a:hover {
    background-color: #B28756;
}

.footer-area--text {
    margin-right: 10px;
}

.footer-area--subscribe {
    background-color: #323232;
    padding: 10px;
    display: flex;
    align-items: center;

}

.footer-area--subscribe form {
    width: 80%;
    padding: 15px;
}

.footer-area--subscribe form input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #999;
    caret-color: #000000;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #777;
}

.footer-area--subscribe form input {
    color: #fff;
    caret-color: #ffffff;
}

.footer-area--subscribe form input::placeholder {
    text-align: center;
}

.footer-area--subscribe form .button-send {
    margin-top: 30px;
}

@media(min-width:800px) {
    nav {
        display: flex;
    }
}

@media(min-width: 450px) and (max-width: 800px) {
    .logo {
        margin-left: 30px;
    }

    .icon-menu {
        display: flex;
    }

    .fa-solid.fa-bars {
        display: flex;
        align-items: center;
        font-size: 40px;
        margin-right: 30px;
    }

    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li a {
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        margin-left: 50px;
        border: 0;
    }

    .menu li a:hover,
    .menu li.active a {
        border: 0;
        color: #B28756
    }

    .icon-principal {
        display: none;
    }

    .aboutus {
        flex-direction: column;
    }

    .section-aboutus--left {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .section-aboutus--left .button {
        margin: auto;
    }

    .section-aboutus--right {
        width: auto;
    }

    .section-services {
        flex-wrap: wrap;
    }

    .section-service {
        min-width: 50%;
        margin-bottom: 30px;
    }

    .section-service:first-child {
        border-left: 0;
    }

    .section-projects--filters {
        padding: 0px 10px;
    }

    .section-projects--filters ul {
        padding-top: 3px;
        padding-bottom: 3px;
    }


    .section-projects--filters li {
        padding: 5px 5px 7px 5px;
    }


    .section-projects--filters li a {
        font-size: 13px;
        padding: 5px 7px 5px 7px;
    }

    .section-team {
        max-width: 580px;
    }

    .section-reviews--review p {
        margin-left: 30px;
        margin-right: 30px;
    }

    .superlight .companies img {
        padding: 20px;
        width: 80px;
    }

    .section-plans .sliders {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-plans .slide {
        margin: auto;
        width: 90%;
        margin-bottom: 30px;
    }

    .section-options--area .section-options {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-options--area .section-options--desc {
        padding: 30px;
    }

    .section-work-options {
        display: flex;
        flex-wrap: wrap;
    }

    .superlight2 .share-icons {
        flex-direction: column;
    }

    .share-socials-social-principal {
        margin-top: 30px;
        margin-left: 30px;
    }

    .section-map {
        padding-left: 30px;
        padding-right: 30px;
    }

    .section-map--area {
        width: auto;
    }

    .section-map--info {
        width: auto;
    }

    .section-map--info-item {
        margin-bottom: 20px;
    }

    .section-map--info-item:last-child {
        margin-bottom: 0;
    }

    footer .default.dark {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    footer .default.dark .arrow1 .fa-solid.fa-chevron-up {
        display: none;
    }

    footer .default.dark .arrow2 .fa-solid.fa-chevron-up {
        display: block;
        margin-top: -40px;
        padding: 10px;
        font-size: 30px;
    }

    .footer-area {
        flex-direction: column;
    }

    .footer-area--subscribe {
        order: 1;
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .footer-area--text {
        order: 2;
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .footer-area--social {
        order: 3;
        margin-top: 20px;
        align-items: center;
    }

    .footer-area--social-icons {
        margin-bottom: 10px;
    }

    .section-body form .nameemail {
        flex-direction: column;
    }

    .section-body form .nameemail input {
        margin-bottom: 20px;
    }

    .section-body form input {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .logo {
        margin-left: 30px;
    }

    .icon-menu {
        display: flex;
    }

    .fa-solid.fa-bars {
        display: flex;
        align-items: center;
        font-size: 40px;
        margin-right: 30px;
    }

    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 80vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li a {
        font-weight: bold;
        height: 60px;
        font-size: 20px;
        margin-left: 30px;
        border: 0;
    }

    .menu li a:hover,
    .menu li.active a {
        border: 0;
        color: #B28756
    }

    .icon-principal {
        display: none;
    }

    .aboutus {
        flex-direction: column;
    }

    .section-aboutus--left {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .section-aboutus--left .button {
        margin: auto;
    }

    .section-aboutus--right {
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }

    .section-aboutus--right-content {
        width: 100%;
        position: relative;
    }

    .section-aboutus--right-content .section-aboutus--right-photoinfo {
        width: 100%
    }

    .section-aboutus--right-content img {
        width: 100%;
    }

    .section-services {
        flex-wrap: wrap;
    }

    .section-service {
        min-width: 100%;
        margin-bottom: 30px;
    }

    .section-service:first-child {
        border-left: 0;
    }

    .section-projects--filters {
        padding: 0px 10px;
        width: 90%;
        margin-right: 30px;
        margin-left: 30px;
    }

    .section-projects--filters ul {
        display: flex;
        flex-direction: column;
        padding: 5px;
    }


    .section-projects--filters li {
        border-left: none;
        padding: 0;
        width: 100%;
    }

    .section-projects--filters li a {
        display: block;
        width: 100%;
        transition: color 0.3s linear;
        border: none
    }

    .section-projects--filters li:first-child {
        margin: 0;
    }


    .section-projects--filters li a:hover {
        color: #B28756;
        border: none;
    }

    .section-team {
        max-width: 280px;
    }

    .section-options--area .section-options--img {
        width: 100%;
    }

    .section-options--area .section-options--img img {
        width: 80%;
        margin-left: 30px;
    }

    .section-reviews--review p {
        margin-left: 30px;
        margin-right: 30px;
    }

    .superlight .companies {
        flex-direction: column;
    }

    .superlight .companies img {
        margin-bottom: 20px;
    }

    .section-plans .sliders {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-plans .slide {
        margin: auto;
        width: 90%;
        margin-bottom: 30px;
    }

    .section-options--area .section-options {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-options--area .section-options--desc {
        padding: 30px;
    }

    .section-work-options {
        display: flex;
        flex-wrap: wrap;
    }

    .superlight2 .share-icons {
        flex-direction: column;
    }

    .superlight2 .share-icons .share-socials-share a .shareicon {
        margin-left: 25px;
    }

    .share-socials-social-principal {
        padding: 10px;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .superlight2 .share-icons .share-socials-social-principal .share-socials-social {
        width: 50%;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .section-map {
        padding: 0;
        padding-bottom: 250px;
    }

    .section-map--area {
        width: auto;
    }

    .section-map--info {
        width: auto;
    }


    .section-map--info-item {
        margin-bottom: 20px;
    }

    .section-map--info-item:last-child {
        margin-bottom: 0;
    }

    .section-map--info-item i {
        width: 0;
        height: 0;
        padding: 15px;
    }

    footer .default.dark {
        padding-top: 10px;
        padding-bottom: 10px;
    }


    .footer-area {
        flex-direction: column;
    }

    .footer-area--subscribe {
        order: 1;
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .footer-area--text {
        order: 2;
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .footer-area--social {
        order: 3;
        margin-top: 20px;
        align-items: center;
    }

    .footer-area--social-icons {
        margin-bottom: 10px;
    }

    .section-body form .nameemail {
        flex-direction: column;
    }

    .section-body form .nameemail input {
        margin-bottom: 20px;
    }

    .section-body form input {
        width: 100%;
    }

    .banner h1,
    .banner h1 span {
        font-weight: bold;
        font-size: 30px
    }

    .banner h2 {
        font-size: 17px;
    }

    footer .default.dark .arrow1 .fa-solid.fa-chevron-up {
        display: none;
    }

    footer .default.dark .arrow2 .fa-solid.fa-chevron-up {
        display: block;
        margin-top: -40px;
        padding: 10px;
        font-size: 30px;
    }

    .footer-area--social p {
        margin-top: 10px;
        font-size: 10px;
        text-align: center;
    }
}